@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* variables */
:root {
  --font-family-one: "Bitter", serif;
  --font-family-two: "Michroma", sans-serif;
  --font-family-three: "Montserrat", sans-serif;
  --font-family-four: "Orbitron", sans-serif;
  --font-family-five: "Poppins", sans-serif;
  --font-family-six: "Roboto", sans-serif;

  --accent-color-one: #fff0c6;
  --accent-color-two: #ecf0f1;
  --accent-color-three: #2d3436;
  --accent-color-four: #a5907e;
  --secondary-color-one: #bdc3c7;
  --secondary-color-two: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: var(--accent-color-three);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-one);
}
